*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: 	burlywood black;
  font-family: "dancing script";
  
}


.banner{
  height: 100vh;
  width: 100%;
  border: 1px solid #000; 
  background-color: #000;
  position: relative;
  display: flex;
  }
  
  .nav{ 
   /* border: 1px solid #fff;  */
    width: 100%;
    height: 70px;
    position: fixed;
    z-index: 10000;
    top: 0;
    /* display: flex;
    justify-content: flex-end;
    align-items: center; */
  }
  
  .nav-links{
   /* border: 1px solid #fff;  */
   width: 100%;
   height: 100%;
   font-family:cursive;
  }
  
  .nav ul{
   list-style-type: none;
  }
  
  .nav li{
    width: 33.3%;
    float: left;
    /* border: 1px solid #000;  */
    background-color: rgba(0, 0, 0, 0.3);
    height: 70px;
    color: #fff;
    font-size: 24px;
  }
  
  .nav li a{
    display: block;
    color: #fff;
    text-align: center;
    text-decoration: none;
    padding: 25px;
  }
  
  .nav li a:hover{
    color: #fff;
    background-color: burlywood;
    transition: 0.3s ease-in-out;
    height: 100%;
    cursor: pointer;
    
  }

 .banner-video{
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  min-height: 100%;
  object-fit:cover;
  opacity: 0.2;
} 

.welcome{
  /* border: 1px solid #f00;  */
  height: 120px;
  width: 100% ;
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

.welcome-logo{
  /* border: 1px solid #fff; */
  height: 100px;
  width: 10%;
}

.welcome-logo img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  animation: flip 3s infinite linear;
}


@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.welcome-message{
  /* border: 1px solid #fff; */
  height: 250px;
  width: 100%;
  margin-top: 300px;
}

.welcome-message h1{
  /* border: 1px solid #0e44a2; */
  height: 60%;
  width: 100%;
  color: #fff;
  font-size: 140px;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: welcome-heading;
  animation-duration: 3s;
}
span{
   /* background: linear-gradient(90deg, orange, red, orange);  */
  color: burlywood;
  text-shadow: 2px 2px 5px brown;
}
@keyframes welcome-heading {
  0%{transform:translateX(-300%)
 }
 100%{
   transform: translateX(0%);
 }
}

.welcome-message p{
  /* border: 1px solid #bc1294; */
  height: 40%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  color: #fff;
  font-size: 25px;
  animation-name: welcome-p;
  animation-duration: 3s;
}

@keyframes welcome-p {
  0%{transform:translateX(300%)
 }
 100%{
   transform: translateY(0%);
 }
}



.info{
  /* border: 1px solid #0f0; */
  height: 40vh;
  width: 100%;
  display: flex;
 
}
.paradise-info{
  /* border: 1px solid #000; */
  height: 100%;
  width: 50%;
  margin: 20px;
  /* padding: 35px; */
}

.paradise-info h2{
  color: #fff;
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 550;
  padding-bottom: 10px;
  animation-name: heading;
  animation-duration: 5s;
}

.paradise-video{
  display: flex;
align-items: center;
justify-content: center;
}

.paradise-video video{
  height: 100%;
  width: 70%;
  margin-top: 20px;
  border-radius: 10px;
  filter: blur(5px); 
  transition: filter 0.3s ease-out; 
}

.paradise-video video:hover {
  filter: blur(0px); 
  transition: filter 0.3s ease; 
  cursor: pointer;
}

.paradise-video video:hover{
  cursor: pointer;
}

@keyframes heading {
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}

.info2 p{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 5px;
}

.info2 a{
  text-decoration: none;
  color:#000;
}

.info2 a:hover{
  color:orange;
} 




.footer{ 
  border: 1px solid #000; 
  background-color: #000;
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 10px;
}


.footer-content{
  /* border: 1px solid #000; */
  height: 100%;
  width: 33%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-content h3, .footer-content p{
  color: white;
}

.footer-content img{
  /* border: 1px solid #fff; */
  padding: 5px;
  border-radius: 50%;
  background-color: #fff;
}

.footer-content img:hover, .footer-content h3, .footer-content p{
  cursor: pointer;
}


































/* Menu */
/* html,
    body {
      position: relative;
      height: 100%;
    } */

    html,
    .body {
      position: relative;
      height: 100%;
    }

    body {
      background: #000;
      /* font-family: Helvetica Neue, Helvetica, Arial, sans-serif; */
      font-size: 14px;
      color: #fff;
      margin: 0;
      padding: 0;
    }


    .menu{
      border: 1px solid #000;
      width: 100%;
      height: 500px;
      display: flex;
      margin: 10px;
    }

    .menu-content{
      border: 1px solid #000;
      height: 100%;
      width: 50%;
    }

    .menu-content h1{
      font-size: 100px;
    }


.swiper {
  width: 400px;
  height: 400px;
  position: absolute;
 

}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img , .swiper-slide video{
  display: block;
  width: 100%;
  height: 100%;
}

.heading{
  border: 1px solid #000;
  height: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation-name: welcome-heading;
  animation-duration: 3s;
}
.headline{
  /* border: 1px solid #fff; */
  height: 250px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headline-content{
  /* border: 1px solid #fff; */
  width: 25%;
  height: 100%;
}


.flip-box{
  background-color: transparent;
  width: 100%;
  height: 100%;
  /* border: 1px solid #fff; */
  perspective: 1000px; 
  padding: 10px;

}

/* This container is needed to position the front and back side */
.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
  cursor: pointer;
}

/* Position the front and back side */
.flip-box-front, .flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  
}

/* Style the front side */
.flip-box-front {
  background-color: #bbb;
  color: black;
  border-radius: 10px;

}

/* Style the back side */
.flip-box-back {
  background-color: #000;
  color: #fff;
  transform: rotateY(180deg);
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
border-radius: 10px;
}
.flip-box img{
  height: 100%;
  width: 100%;
  /* object-fit: cover; */
}























/* for contact */

.contact{
  border: 1px solid #000;
  height: 70vh;
  width: 100%;
  
}

.contact h5{
  border: 1px solid #000;
  height: 60px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 10px;
} 

.contact p{ */
  border: 1px solid #000; 
 font-size: 18px;
}
.info-contact{
  border: 1px solid #000;
  height: 100vh;
  width: 100%;
}

.form{
  border: 1px solid #fff;
  height: 50%; 
  width: 60%;
  margin: auto;
}
legend{
  border-radius: 35px;
  margin-bottom: 5px;
}
textarea{
  height: 70px;
  width: 100%;
  font-size: 24px;
  animation-name: head;
  border-color: brown;
  animation-duration: 4s;
  border-radius: 20px;
}

input{
  height: 55px;
  width: 100%;
  border-radius: 20px;
  text-align: start;
  font-size: 24px;
  animation-name: head;
  animation-duration: 4s;
  padding: 20px;
}

legend{
  text-align: center;
} 


input:hover{
  background-color: burlywood;
  color: #000;
  border-color: brown;

}

.submit {
  width: 100%;
  height: 50px;
  animation-name: head;
  animation-duration: 4s;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
 .submit button{
  width: 35%;
  height: 100%;
  border-radius: 20px;
 }

 .submit button:hover{
  cursor: pointer;
 }
