*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scrollbar-color: 	burlywood black;
}
body{

  background-color: burlywood;
}
.banner{
  height: 100vh;
  width: 100%;
  border: 1px solid #000;
  background-color: #000;
  position: relative;
  display: flex;
}

.video{
  border: 7px solid rgb(255, 0, 195);
  position: absolute;
  width: 100% !important;
  height: 100% !important;
  min-height: 100%;
  object-fit:cover;
  opacity: 0.2;

}


.nav{
  /* border: 1px solid #fff; */
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border-radius: 20px; */
}

.links{
 /* border: 1px solid #fff; */
 width: 100%;
 height: 100%;
 /* text-align: center; */
}

.nav ul{
 list-style-type: none;
}

.nav li{
  width: 33.3%;
  float: left;
  /* border: 1px solid #000; */
  background-color: rgba(0, 0, 0, 0.3);
  /* border-radius: 20px; */
  height: 70px;
  /* justify-content: space-between; */
  color: #fff;
}

.nav li a{
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 25px;
  font-size: 18px;
}

.nav li a:hover{
  color: black;
  background-color: burlywood;
  /* border-radius: 20px; */
  transition: 0.9s;
  
}
nav li:nth-child(1){
  background-color: burlywood;
}

.welcome{
  /* border: 1px solid #f00; */
  height: 300px;
  width: 100%;
}

.welcome img{
  border: 5px solid #fff;
  border-radius: 150px;
  width: 10%;
  height: 100px;
  position: absolute;
  margin-top: 100px;
  margin-left: 530px; 
}

.welcome h6{
  color:#fff;
  z-index: 10000;
  width: 100%;
  /* border: 1px solid #00f; */
  height: 250px;
  position: absolute;
  margin-top:   100px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 25px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome h1{
  color:#fff;
  z-index: 10000;
  width: 100%;
  /* border: 1px solid #00f; */
  height: 400px;
  position: absolute;
  margin-top:   100px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 72px;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
}
span{
  /* background: linear-gradient(90deg, orange, red, orange); */
  color: burlywood;
}

/* color: 	rgb(92, 64, 51); */

.welcome p{
  /* border: 1px solid #fff; */
  color: #fff;
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 350px;
  text-align: center;
  font-size: 25px;
}

.welcome-text h3{
  /* border: 1px solid yellow; */
  color: #fff;
  position: absolute;
  height: 50px;
  width: 100%;
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
}

.info{
  border: 1px solid #0f0;
  /* background-color: burlywood; */
  height: 80vh;
  width: 100%;
  /* background-image: url(./Images/Coffee\ ☕️.jpeg);
  background-repeat: no-repeat;
  background-position: center; */
  display: flex;
  align-items: flex-start;
  justify-content: center;
  /* position: relative; */
  /* z-index: 10000; */
}
.info2{
  /* border: 1px solid #000; */
  height: 400px;
  width: 85%;
  padding: 35px;
  /* font-size: 25px; */
  /* background-image: url(./Images/bundo-kim-aGuyksW6l_Y-unsplash.jpg); */
  /* background-position: center; */
  /* background-size: cover; */
}

.info2 h2{
  font-size: 64px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 550;
  padding-bottom: 10px;
}


.info2 p{
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  word-spacing: 5px;
}

.info2 a{
  text-decoration: none;
  color:#000;
}

.info2 a:hover{
  color:orange;
}

.info3{
  border: 1px solid #000;
  height: 80vh;
  width: 100%;
}

.info3 h3{
  font-size: 60px;
  padding: 20px;
}

.pictures{
  width: 70%;
  border: 1px solid #000;
  height: 100%;
  margin:0 120px;
}

.pictures video{
  width: 100%;
  height: 100%;
}
.pictures img{
  width: 100%;
  height: 100%;
  /* width: 100%; */
}
/* .info3{
  border: 1px solid #000;
  height: 200px;
  width: 100%;
} */

.container{
  border: 1px solid #000;
  height: 100%;
  width: 70%;
}

.container2{
  border: 1px solid #000;
  height: 100%;
  width: 30%;
}

footer{
  border: 1px solid #000;
  background-color: #000;
  height: 100px;
  width: 100%;
}

/* Menu */

.banner2{
 border: 1px solid #000;

}
.video2 video{
  width: 10%;
  height: 300px;
  object-fit: cover;
}

.navigation{
  background-image: url(./Images/bundo-kim-aGuyksW6l_Y-unsplash.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.nav-menu{
 border: 1px solid #000;
 background-color: rgba(0, 0, 0, 0.6);
 height: 100px;
 width: 100%;
 position: sticky;}
 /* z-index: 10000; 
}*/

.nav-pic img{
  /* background-image: url(./Images/bundo-kim-aGuyksW6l_Y-unsplash.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  backface-visibility: visible;
  z-index: 100000; */

  width: 100%;
  height: 30%;
  position: fixed;

}

.nav-menu  ul{
  list-style-type: none;
}

.nav-menu li{
  width: 20%;
  float: left;
  
}

.nav-menu li a{
  text-decoration: none;
  color: #fff;
  display: block;
   text-align: center;
   text-decoration: none;
   padding: 40px;
   font-size: 18px;
}
 
.nav-menu li a:hover{
   color: #000;
   background-color: burlywood;
   width: 100%;
   height: 100%;
   transition: 0.9s;
 }
 .info-menu{
   border: 1px solid #000;
   height: 100vh;
   width: 100%;
 }

.info-menu h1{
  border: 1px solid #000;
  width: 100%;
  font-size: 50px;
  padding: 30px;
  text-align: center;
  /* position: relative; */
}

.menu{
  border: 1px solid #000;
  border-radius: 20px;
  width: 30%;
  height: 70%;
  margin: 10px;
  display: inline-block;
}

.menu img{
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}


.welcome2 h1{
  font-size: 120px;
}


footer{
  width: 100%;
  height: 200px;
  border: 1px solid #000;
  background-color: burlywood;
  display: flex;
  justify-content:center;
}

footer img{
  border: 1px solid #000;
  border-radius: 80px;
  width: 10%;
  height: 85px;
  padding: 10px;
  margin: 10px 0 0 10px;
}

footer h4{
  border: 1px solid #000;
  height: 50px;
  width: 20%;
  /* margin-top: 30px; */
  font-size: 30px;
}

footer p{
  border: 1px solid #000;
  height: 20px;
  width: 20%;
}

/* for contact */
.nav{
  /* border: 1px solid #fff; */
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 10000;
  top: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* border-radius: 20px; */
}

.links{
 /* border: 1px solid #fff; */
 width: 100%;
 height: 100%;
 /* text-align: center; */
}

.nav ul{
 list-style-type: none;
}

.nav li{
  width: 33.3%;
  float: left;
  /* border: 1px solid #000; */
  background-color: rgba(0, 0, 0, 0.3);
  /* border-radius: 20px; */
  height: 70px;
  /* justify-content: space-between; */
  color: #fff;
}

.nav li a{
  display: block;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 25px;
  font-size: 18px;
}

.nav li a:hover{
  color: black;
  background-color: burlywood;
  /* border-radius: 20px; */
  transition: 0.9s;
  
}
nav li:nth-child(1){
  background-color: burlywood;
}
.contact{
  border: 1px solid #000;
  height: 100vh;
  width: 100%;
  
}

.contact h5{
  border: 1px solid #000;
  height: 60px;
  width: 100%;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}

.contact p{
  border: 1px solid #000;
  font-size: 18px;
}
/* .info-contact{
  border: 1px solid #000;
  height: 100vh;
  width: 100%;
} */

.form{
  /* border: 1px solid #000; */
  height: 300px;
  width: 60%;
  margin-left: 200px;
  /* display: flex; */
  /* align-items: center;
  justify-content: center; */
}

input{
  height: 60px;
  width: 100%;
  border-radius: 20px;
  text-align: center;
  /* padding: 20px; */
}
legend{
  text-align: center;
}


input:hover{
  background-color: burlywood;
  color: #000;

}